.guideContainer{
    width: 1920px;
    height: 1080px;
    margin: 0;
    
}

.guideContent {
    width: 92%;
    margin-left: 8%;
    height: auto;
    display: flex;
    flex-direction: column;
}


.sla2 {
    width: 100%;
    height: 80px;
}

.overflowContent {
    width: auto;
    height: auto;

}


/* Parte de exibição do evento do canal focado   */
.channelInfoContainerDetail {
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 20px;
}

.channelInfoGuideDetail{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.channelInfoGuideTitle {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

.channelInfoGuideMoreDetail {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}


.channelInfoGuideDescription{
  width: 100%;
  height: 120px;
}

.channelInfoGuideMoreDetail img {
  height: 80%;
}

.channelInfoGuideStart {
  height: 100%;
  display: flex;
  align-items: center;
margin: 0 10px
}

.channelInfoGuideStart img{
  height: 20px;
}

.channelInfoGuideDuration {
  margin: 0 10px
}

.channelInfoGuideRate {
  margin: 0 10px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}


.channelInfoGuideImage{
  width: 30%;
  height: 100%;
  background-position: center;

}

.channelInfoGuideImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}






.channelEventsTodayContainer {
    width: 100%;
    height: 80px;
    overflow: auto;
    max-width: 1200px;
}

.channelEventsTodayContainer::-webkit-scrollbar {
    display: none;
  }

.channelEventsTodayContainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.channelEventInfoContainer {
    width: 100%;
}



.channelInfoTitle {
    width: 1920px;
    height: 80px;
    display: flex;
    padding-left: 10px;

}



.channelInfoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.channelInfoContainer button {
  box-shadow: none;
  border: 1px solid rgb(71, 71, 71);
  background-color: rgba(29, 32, 33, 0.8);
  width: 100%;
  max-width: 270px;
  margin: 0px 10px;

}



  .cardsChannelInfo {
    width: auto;
    max-width: 450px;
    min-width: 300px;
    margin: 20px 10px 0px 10px;
    flex-shrink: 0;

    }
    
    .cardsChannelInfo button{
        width: 300px;
        height: 300px;
        scroll-margin-left: 100px;

        
    }

.cardsChannelInfo:nth-child(1) {
    margin-left: 100px;
}




.channelInfoListDetailsContainer {
    width: 90%;
    height: 45px;
    margin: 230px auto 0px auto;
    display: flex;
    justify-content: space-between;
}

.channelInfoDetailDate {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 32, 33, 0.8);
    border-radius: 5px;
}

.channelInfoDetailRate {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}



/* inicio parte guia canais*/

.channelGuideContainer {
    width: auto;
    max-width: 1766px;
    max-height: 400px;
    height: auto;
    background-color: blue;
    padding: 10px 0;
    overflow: auto;
}

.channelGuideHeaderContent {
    width: auto;
    height: 80px;
    background-color: aquamarine;
    position: fixed;
    display: flex;
}

.channelGuideHeaderDay {
width: 1800px;
height: 100%;
background-color: rgb(105, 128, 0);
}
.channelGuideHeaderHour {
width: 1800px;
height: 100%;
background-color: rgb(128, 0, 0);
}


.channelGuideBodyContent {
width: 300px;
height: 600px;
background-color: blueviolet;
}





.table-wrapper {
    overflow: auto;
    max-height: 660px;
    padding-bottom: 100px;
    max-width: 100%; /* Garante que a tabela não ultrapasse a largura do viewport */
  }

  .table-wrapper::-webkit-scrollbar {
    display: none;
  }

.table-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .table {
    width: auto;
    border-collapse: collapse;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 2;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(29, 32, 33, 1);
    display: flex;
  }

  .header .cell {
    height: 30px;
  }

  .cell {
    margin: 4px;
    padding: 8px;
    text-align: left;
    height: 60px;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .data .cell {
    background-color: rgba(43, 43, 43, 0.7);
    color: aliceblue;
  }
  .cell:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
  }

  .data .cell:first-child {
    background-color: rgba(101, 101, 101, 1);
  }

  .data {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,0)
  }


  .data-row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: -20px;
    color: rgba(0, 0, 0, 0);
  }


  .cellButton {
    height: 80px;
    margin: 4px;
    padding: 8px;
    box-shadow: none;
    background-color: rgba(77, 77, 77, 0.7);
  }

  .cellButtonDiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .guideFirstInfo {
    width: 150px;
    display: flex;
    justify-content: center;
  }
  .guideFirstInfo img{
    max-height: 90%;
  }

  .guideInfoHour {
    width: 240px;
  }