
.focusedContainer {
    width: 100%;
    height: 550px;
   /* background-color: #1d2021; */
    display: flex;
}
.focusedContent {
    width: 70%;
    margin-left: 5%;
}

.focusedTextInfo {
width: 60%;
height: 100%;
padding-left: 5%;
}

.focusedLogoContent{
    width: 100%;
    margin-top: 5%;
    height: 100px;
    display: flex;
}

.focusedLogoImage {
    width: 300px;
    border-radius: 5px;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.7);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}
.focusedLogoImage2 {
    width: 450px;
    border-radius: 5px;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.7);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

.focusedShowLogo {
    width: 70%;
    height: auto;
    min-height: 50px;
    margin: 20px auto auto auto;
    background-position: center;
    background-size:contain ;
    background-repeat: no-repeat;
    object-fit: contain;
}

.focusedShowLogo h2{
text-align: center;
}

.focusedLogoName {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    height: 100%;
}

.focusedLogoName h2 {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    height: 100%;
}
.focusedDetailsContainer {
    width: 100%;
    height: 270px;
    margin-top: 15px;
}
.focusedShowGenresAndDuration {
    width: 100%;
    height: 25%;
    display: flex;
}
.focusedShowGenresAndDuration h6 {
    width: auto;
    padding-right: 10px;
    padding-left: 2px;
    height: auto;
    margin: 10px 10px 0px 0px;
}
.focusedInfoStart {
    display: flex;
}
.focusedInfoStart .clock {
    margin-top: 12px;
}
.focusedShowDescription {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.focusedShowDescription h3 {
    width: auto;
    height: auto;
    margin: 0px;
}
.focusedShowDescription h4 {
    width: auto;
    height: auto;
    margin: 0px;
    text-align: justify;

}



.focusedImageInfo {
width: 50%;
height: 100%;
background-position: center;
background-size: cover;
object-fit: contain;
background-repeat: no-repeat;
}



.shadowLeft {
    width: 100%;
    height: 100%;
    margin-left: -1px;
    background-color: rgb(200, 17, 194);
    background: linear-gradient(90deg, rgba(29,32,33,1) 0%, rgba(29,32,33,0.8) 3%, rgba(29,32,33,0.6) 6%, rgba(29,32,33,0.4) 9%, rgba(29,32,33,0.2) 12%, rgba(29,32,33,0) 15%) ;
}



/* inicio do categories*/

.vodCategoriesContent {
    width: 95%;
    margin-left: 5%;
    height: 100px;
    overflow-x: scroll;
    display: flex;
    color: rgba(29,32,33,0);
}

.vodCategoriesContent::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .vodCategoriesContent {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


.channelButton{
    width: 90px;
    min-width: 90px;
    margin: auto 5px;
    background-color: white;
    color: #333;
    font-size: 0.8rem;
    height: 40px;
}

.channelButton:nth-child(1) {
    margin-left: 5%;
    }

.Bar {
    font-size: 3rem;
    color: white;
    margin-top: 20px;
}


/* inicio do all channels*/

.allVodsContainer {
    width: 90%;
    margin-left: 5%;
    height: 400px;
    padding: 10px 10px 10px 5%;
    overflow: auto;
}

.allVodsContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .allVodsContainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.allVodsContent {
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: rgba(29,32,33,0);
}

.vodsContainer {
    width: 195px;
    margin: 5px;
    height: 240px;
    border-radius: 5px;
    text-align: center;
   background-color: rgba(43, 43, 43, 0.7);
}

.vodButtonShow {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: inherit;

}

.vodlImageShow {
    width: auto;
    height: 100%;
    border-radius: 5px;
    margin: auto;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    object-fit: contain;
}

.focusedChannelEventImage {
    width: 1920px;
    height: 1080px;
    margin-top: -550px;
    position: absolute;
    z-index: -2;
}

.focusedChannelImageColor {
    width: 1920px;
    height: 1080px;
    background-color: rgba(113, 113, 113, 0.2);
    position: absolute;
    margin-top: -550px;
    position: absolute;
    z-index: -1;
}
