.eventRecomendationCards {
    width: 100%;
    padding: 0;
    height: 1080px;
    background-color: rgba(33, 33, 33, 0.8);
    position: relative;
}

.cardsInfoContainer {
    width: 100%;
    height: 95%;
    padding-top: 10px;
    margin: auto;
}

.cardsInfoTitle {
    width: 100%;
    height: 70px;
    padding-top: 10px;

}

.cardsInfoTitle h2 {
    margin-left: 100px;

}

.cardsInfoList {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
    display: flex;
    color: rgba(0,0,0,0);
    align-items: center;
    overflow-x: auto;

}

.cardsInfoList::-webkit-scrollbar {
    display: none;
  }

.cardsInfoList {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.cardsInfo {
    width: auto;
    max-width: 450px;
    min-width: 300px;
    margin: 0px 10px 0px 10px;
    flex-shrink: 0;

    }
    
    .cardsInfo button{
        width: 300px;
        height: 400px;

        
    }

.cardsInfo:nth-child(1) {
    margin-left: 100px;
}




.cardsInfoDescription {
    width: 90%;
    height: 340px;
    margin-top: 40px;
    margin-left: 100px;
}

.focusedCardContent {
    width: 80%;
    height: 100px;
    display: flex;
}

.focusedCardTitle {
    width: auto;
    margin-right: 30px;
    height: 100%;
}

.focusedCardEpisode {
    width: auto;
    padding: 0px 35px 0px 10px;
    height: 100%;
}

.focusedCardRating {
    width: 55px;
    height: 45px;
    border-radius: 7px;
    margin-top: -5px;
}

.focusedCardRating h3 {
    text-align: center;
    margin-top: 8px;
    font-size: 1.7rem;
}

.focusedCardContent2 {
    width: 100%;
    height: 80px;
    display: flex;
}

.focusedCardLogo {
    width: 200px;
    margin-top: -30px;
    margin-right: 20px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.focusedCardDuration {
    width: 200px;
    height: 100%;
    margin-right: 20px;
}

.focusedCardStart {
    width: 500px;
    height: 100%;
}

.focusedCardDescription {
    width: 100%;
    height: 140px;
}

.focusedCardDescription h4 {
    height: 140px;
    word-wrap: break-word;

}
