

.Container {
    width: 90%;
    margin: auto;
}

.logoContainer {
    width: 100%;
    height: 90px;
}

.logoContent {
    width: auto;
    max-width: 500px;
    height: 100%;
    margin: auto;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.logoContent img {
    height: 25px;
}

.whoIsWatchingContainer {
    width: 100%;
    height: 80px;
    margin-top: 60px;
    text-align: center;
}

.profileContainer {
    height: auto;
    min-height: 320px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0);
}


.myProfilesContainer {
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: rgba(29,32,33,0);
}


.myProfiles {
    width: 220px;
    margin: 5px;
    height: 290px;
    text-align: center;
    border-radius: 10px;
}
.myProfilesButton2 {
    width: 240px;
    margin: 15px;
    height: 400px;
    text-align: center;
    border-radius: 30px;
    background-color: #136A8A;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}


.myProfilesButton {
    width: 240px;
    margin: 15px;
    height: 400px;
    text-align: center;
    border-radius: 30px;
    background-color: #136A8A;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}

.myProfilesShadow {
    height: 50%;
    width: 100%;
    border-radius: 30px;

}

.myProfilesButtonLock {
    margin: 10px 0px 0px 81%;
    position: relative;
    width: 15%;
    height: 35px;
    background-color: #2B2B2B;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myProfilesButtonLock img {
    margin-left: 11px;
    height: 40%;
}

.myProfilesButtonImage {
width: 65%;
height: 150px;
background-color: #353535;
margin: 50px auto auto auto;
position: relative;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;display: flex;
justify-content: center;
align-items: center;
border-radius: 90px;
}

.myProfilesButtonImage img{
border-radius: 80px;

}

.myProfilesButtonImage2 {
width: 65%;
height: 150px;
background-color: #353535;
margin: 50px auto auto auto;
position: relative;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;display: flex;
justify-content: center;
align-items: center;
border-radius: 90px;
}

.myProfilesButtonImage img {
    height: 75%;
}

.imgW{
    height: 50%;
}

.myProfilesButtonName {
width: 100%;
word-wrap: break-word;
display: flex;
justify-content: center;
align-items: center;
border-radius: 80px 0px 25px 25px;
height: 47.5%;
}

.myProfilesButtonName h3 {
    padding-top: 50px;
}




.logoutContainer {
    height: 60px;
    margin: 30px 0px 0px 85%;
    display: flex;
    width: auto;

}

.logoutContent {
    height: 100%;
    width: 250px;
}

.logoutContent button {
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    font-size: 1rem;
    color: white;
}
