

.initialImageBackground {
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    position: fixed;
    z-index: 0;

}

.initialInfoContent {
    width: 1920px;
    height: 1080px;
    display: flex;
    margin: 0;
    position: relative;
}
.initialInfo {
    width: 1920px;
    height: 1080px;
    display: block;
    
}

.initialInfoTitle {
    margin-top: 380px;
    width: 80%;
    height: 120px;
    border-bottom: 1px solid rgb(124, 124, 124);
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.infoTitle {
    width: auto;
    margin-right: 50px;
    height: 100%;
}

.infoTitle h1 {
    margin-top: 25px;
}

.infoTitle h2 {
    margin-top: 35px;
}

.infoRating {
    width: 65px;
    height: 55px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

.infoRating h2 {
    text-align: center;
    margin-top: 8px;
    width: 100%;
    height: 100%;
    font-size: 2.3rem;

}

.initialInfoDetails {
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.initialInfoLogo {
    width: auto;
    height: 100%;
}
.infoChannelLogo {
    width: 120px;
    object-fit: contain;
}

.initialInfoTime {
    width: 15%;
    height: 100%;
    text-align: center;
}

.initialInfoTime h4 {
    margin-top: 25px;
}

.initialInfoGenres {
    width: 25%;
    height: 100%;
    text-align: center;
}

.initialInfoStart {
    width: 35%;
    height: 100%;
    text-align: center;
    margin-left: 20px;
    display: flex;
}




.initialInfoStart h4 {
    margin-top: 25px;
}

.initialInfoStart img {
    margin-top: 30px;
}


.initialInfoGenres h4 {
    margin-top: 25px;
}

.initialInfoButtons {
    width: 70%;
    height: 100px;
    padding-left: 100px;

    display: flex;
}

.infoButtonPlay {
    width: auto;
    display: flex;
    padding-top: 25px;
    height: 100%;
}

.iconButton {
    height: 30px;
    margin-top: -3px;
    margin-right: 10px;
}

.infoButtonPlay button {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    background-color: rgb(218, 218, 218);
    color: #333;
}

.iconBtn{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btnTitle {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.btnTitle h4{
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}

.infoButtonMyList {
    width: auto;
    height: 100%;
    padding-top: 25px;
    margin-left: 20px;
}

.btnWithIconFlex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoButtonMyList button {
    width: auto;
    display: flex;
    align-items: center;
    padding: 5px 30px;
    background-color: rgb(218, 218, 218);
    color: #333;
    
}


.initialInfoDescription {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.infoDescription {
    width: 100%;
    height: 70%;

}

.infoDescription h3 {
    padding-left: 100px;
    color: rgb(191, 191, 191);

}

.infoDirectors {
    width: 100%;
    height: 30%;
}

.infoDirectors h4 {
    margin-top: 10px;
    padding-left: 100px;
}



















